# Ignore output final model
model

# Disregard build directory
builddir/

# Ignore editor configuration
.vscode/

# Ignore temporary table used for plotting results
opacity-analysis.csv

# Ignore graphics and visualizations
*.pdf
*.svg
*.png
*.jpg
